body {
  padding: 0;
  margin: 0;
}
.container {
  background: #eee;
  display: grid;
  /*grid-template-rows: 80px 80px 80px;
  grid-template-columns: 80px 80px 80px;*/
  /*grid-template: 80px 80px 80px / 80px 80px 80px;*/
  /*grid-template: repeat(3, 80px) / repeat(3, 80px);*/
  grid-template: repeat(3, 80px) / repeat(auto-fill, 80px);
}
.item-1 {
  background: hsl(300, 80%, 30%);
}
.item-2 {
  background: hsl(300, 80%, 40%);
}
.item-3 {
  background: hsl(300, 80%, 50%);
}
.item-4 {
  background: hsl(200, 80%, 30%);
}
.item-5 {
  background: hsl(200, 80%, 40%);
}
.item-6 {
  background: hsl(200, 80%, 50%);
}
.item-7 {
  background: hsl(100, 80%, 30%);
}
.item-8 {
  background: hsl(100, 80%, 40%);
}
.item-9 {
  background: hsl(100, 80%, 50%);
}