body {
  padding: 0;
  margin: 0;
}
.container {
  background: #eee;
  display: grid;
  /*grid-template-rows: 80px 80px 80px;
  grid-template-columns: 80px 80px 80px;*/
  /*grid-template-areas:
    "header header header"
    "main   main   sidebar"
    "footer footer footer";*/
  /*grid-template-areas:
    "header header header"
    "main   .      sidebar"
    "footer footer footer";*/
  grid-template:
    "header header header header" 80px
    "main   .      sidebar sidebar" 80px
    "footer footer footer footer" 80px
    / 80px 80px 80px 80px;
}
.item-1 {
  background: hsl(300, 80%, 30%);
  grid-area: header;
}
.item-2 {
  background: hsl(300, 80%, 40%);
  grid-area: main;
}
.item-3 {
  background: hsl(300, 80%, 50%);
  grid-area: sidebar;
}
.item-4 {
  background: hsl(200, 80%, 30%);
  grid-area: footer;
}
.item-5 {
  background: hsl(200, 80%, 40%);
}
.item-6 {
  background: hsl(200, 80%, 50%);
}
.item-7 {
  background: hsl(100, 80%, 30%);
}
.item-8 {
  background: hsl(100, 80%, 40%);
}
.item-9 {
  background: hsl(100, 80%, 50%);
}